<div class="row searchBar article-page">
    {{> landin/views/partials/navbar}}
    <div class="container">
        <div>
            <h1></h1>
        </div>
        <form action="{{app_context}}/search" id="search_form" method="post">
            {{#if config.settings.show_featured_articles}}
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 search_bar">
            {{else}}
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 search_bar">
            {{/if}}
                <div class="input-group">
                    <input type="text" name="frm_search" id="frm_search" class="form-control input-lg" placeholder="سوالتون رو اینجا جست و جو کنید...">
                    <span class="input-group-btn">
                        <button class="btn btn-lg" id="btn_search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div>
                {{#ifCond config.settings.typeahead_search '===' true}}
                <div id="searchResult" class="hidden col-lg-12">
                    <ul class="list-group searchResultList"></ul>
                </div>
                {{/ifCond}}
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: 100px;">
        {{#if config.settings.show_featured_articles}}
            <div class="col-md-3 col-lg-3 related-articles-section">
                <div class="panel panel-default" style="margin-top: 110px;">
                    <div class="panel-body">
                        <ul class="list-group related-articles">
                            <div class="panel-heading">مقالات مرتبط</div>
                            {{#each featured_results}}
                                {{#if this.kb_permalink}}
                                    <li class="list-group-item"><a href="/{{@root.config.settings.route_name}}/{{this.kb_permalink}}">{{this.kb_title}}</a></li>
                                {{else}}
                                    <li class="list-group-item"><a href="/{{@root.config.settings.route_name}}/{{this._id}}">{{this.kb_title}}</a></li>
                                {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8" style="direction: rtl;">
        {{else}}
            <div class="col-md-8 col-lg-8" style="direction: rtl;">
        {{/if}}
            <h1 style="font-weight: bold; font-size: 34px; margin-bottom: 0;">{{result.kb_title}}</h1>
            {{#if config.settings.show_kb_meta}}
            <h5
                class="col-sm-12 col-lg-12"
                style="padding-right: 0; padding-bottom: 25px; margin-top: 0; font-size: 13px;"
            >
                آخرین بروزرسانی: {{translate_date result.kb_last_updated}}
            </h5>
            {{/if}}
            <div class="body_text">
                {{{kb_body}}}
            </div>
            <h5 class="keywords">
                {{{split_keywords result.kb_keywords}}}
            </h5>
        </div>
    </div>
</div>
{{#if config.settings.allow_voting}}
    <hr style="margin-top: 120px; margin-bottom: 0px;">
    <div class="vote-section">
        <div class="container">
            <div class="col-md-10 col-sm-12 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <div class="voting text-right col-lg-12">
                    <div class="voting-actions">
                        <span>{{__ "Was this article helpful?"}}</span>
                        <button id="btnUpvote" class="btn btn-sm btn-default">بله</button>
                        <button id="btnDownvote" class="btn btn-sm btn-default">خیر</button>
                    </div>
                    <div class="voting-count">
                        <span>
                            {{#if result.kb_votes}}
                                {{result.kb_votes}}
                            {{else}}
                                0
                            {{/if}}
                        </span>
                        کاربر این مقاله را مفید یافته است.
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}
